<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="$safeprojectname$.Properties.Settings.dbaccountConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbaccount;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>